html, body {
    margin: 0;
    background-color: #010A0F;
    overflow-x: hidden;
}

header {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg/Header.png");
    background-color: #288F92;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

h1#bitumi-typography {
    color: #FFF;
    font-size: 288px;
    text-align: center;
    text-shadow: 0 0 100vh rgba(255, 19, 102, .55);
}

h1 {
    font-family: "Anton", sans-serif;
    color: #FF1365;
    font-size: 100px;
    margin: 0;
    line-height: 1.5;
}

.wrap-down {
    display: block;
}

p {
    font-family: "Pathway Gothic One", sans-serif;
    color: #27C4C8;
    font-size: 2.25em;
}

#passion-fire {
    margin: 20vh 0;
    width: 70%;
    height: auto;
}

#japanese-text-1 {
    width: 70%;
    position: relative;
    bottom: 35%;
}

#part-2 div div div.col-5 {
    position: relative;
    bottom: 150px;
}

#part-2 div div div.col-5 h1, #part-2 div div div.col-5 P {
    text-align: right;
}

#background-strip {
    background-image: url("../img/bg/Header Background.jpg");
    background-size: stretch;
    background-color: rgb(5, 206, 209);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: left bottom -350px;
    height: 40vh;
}

#part-3 div div div h1 {
    text-align: center;
    font-size: 144px;
    word-spacing: 2vw;
}

#part-3 div div div p {
    text-align: right;
}