html, body {
    margin: 0;
    background-color: #010A0F;
    z-index: 10000;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

#plexus {
    z-index: 0;
    height: 100%;
    width: 100%;
}

.jumbotron {
    padding: 0;
}

header {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg/Header.png");
    background-color: #288F92;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

h1#bitumi-typography {
    color: #FFF;
    font-size: 288px;
    text-align: center;
    text-shadow: 0 0 100vh rgba(255, 19, 102, .55);
    position: absolute;
    /* transform: translateX(30%); */
}

h1 {
    font-family: "Anton", sans-serif;
    color: #FF1365;
    font-size: 100px;
    margin: 0;
    line-height: 1.5;
}

.wrap-down {
    display: block;
}

p {
    font-family: "Pathway Gothic One", sans-serif;
    color: #27C4C8;
    font-size: 2.25em;
}

#passion-fire {
    margin: 20vh 0;
    width: 70%;
    height: auto;
}

#japanese-text-1 {
    width: 70%;
    position: relative;
    bottom: 35%;
    margin: 10vh 0;
}

#part-2 div div div.col-5 {
    position: relative;
    bottom: 150px;
}

#part-2 div div div.col-5 h1, #part-2 div div div.col-5 P {
    text-align: right;
}

#background-strip {
    background-image: url("../img/bg/Header Background.jpg");
    background-size: stretch;
    background-color: rgb(5, 206, 209);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: left bottom -350px;
    height: 40vh;
}

#part-3 div div div h1 {
    margin-top: 10vh;
    text-align: center;
    font-size: 144px;
    word-spacing: 2vw;
}

#part-3 div div div p {
    text-align: right;
}

.square-mask {
    clip-path: inset(23vh 0vw 10vh 0vw);
}

#part-2 div div div div img {
    min-height: 300px;
    min-width: 300px;
    height: 120vh;
    transform: translate(-250px, 110px);
    box-shadow: 0px 0px 150px rgba(20, 243, 249, 0.7);
}

#bottom-img-strip {
    width: 100vw;
    height: 550px;
    background-image: url("../img/identity/people-coffee-tea-meeting.png");
    background-size: cover;
    background-repeat: none;
    background-position: bottom;
}

#part-3 div:nth-child(4) div.col-8 {
    height: 220px;
}

#horizontal-jtext {
    transform: translateY(-50%);
}

@media screen and (max-width: 1400px) {    
    h1 {
        font-size: 6em;
    }

    #part-3 div div div h1 {
        text-align: right;
        font-size: 6em;
        word-spacing: 3vw;
    }

    h1#bitumi-typography {
        font-size: 13em;
    }

    p {
        font-size: 1.8em;
    }

    #japanese-text-1 {
        transform: scale(.8);
    }
}

