html, body {
  margin: 0;
}

body {
    margin: 0;
    background-image: url("../img/bg/Header Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.main-nav {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
  letter-spacing: 10%;
  opacity: .5;
  color: #FFF;
  width: 100%;
  height: 2em;
}

ul#nav-left li{
  float: left;
  display: inline-block;
  margin: 0 20px;
}

ul#nav-right li {
  float: right;
  display: inline-block;
  margin: 0 20px;
}

.container {
  margin: 0 25vw;
}

/*Change this later*/
/*#canvas_output {
  z-index: 10;
}*/
